**/.DS_Store
**/bower_components
**/node_modules
**/npm-debug.log

/*.sublime-project
/*.sublime-workspace
/sftp-config.json


**/all*.js


/index.html
/wp-content/themes/ch-theme/css
/wp-content/themes/ch-theme/js
/wp-content/themes/ch-theme/img
/wp-content/themes/ch-theme/fonts
/wp-content/themes/ch-theme/img/h-sprite.png
/wp-content/themes/ch-theme/img/l-sprite.png